keybinds {
    normal clear-defaults=true {
        bind "Alt a" { SwitchToMode "Tmux"; }
    }

    tmux clear-defaults=true {
        bind "[" { SwitchToMode "Normal"; }

        bind "x" { Quit; }
        bind "d" { Detach; }

        bind "v" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "s" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "K" { Resize "Up"; }
        bind "L" { Resize "Right"; }
        bind "J" { Resize "Down"; }
        bind "H" { Resize "Left"; }
        bind "q" { CloseFocus; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }

        bind "t" { NewTab; SwitchToMode "RenameTab"; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "Q" { CloseTab; SwitchToMode "Normal"; }
        bind "r" { SwitchToMode "RenameTab"; }

        bind "w" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            }
            SwitchToMode "Normal";
        }

        bind "Up" { ScrollUp; }
        bind "Down" { ScrollDown; }
    }

    renametab clear-defaults=true {
        bind "Enter" { SwitchToMode "Normal"; }
        bind "[" { UndoRenameTab; SwitchToMode "normal"; }   
    }

    pane clear-defaults=true {}
    tab clear-defaults=true {}
    resize clear-defaults=true {}
    move clear-defaults=true {}
    search clear-defaults=true {}
    entersearch clear-defaults=true {}
    scroll clear-defaults=true {}
    session clear-defaults=true {}
    locked clear-defaults=true {}
    renamepane clear-defaults=true {}
}

themes {
    default {
        bg "#34302c"
        fg "#c1a78e"
        red "#bd8183"
        green "#78997a"
        blue "#7f91b2"
        yellow "#ebc06d"
        magenta "#b380b0"
        orange "#e49b5d"
        cyan "#7b9695"
        black "#292522"
        white "#ece1d7"
    }
}
pane_frames false
default_shell "fish"
